<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="
                    attr: {'id': getCode()},
                    value: getCode(),
                    checked: isChecked,
                    click: selectPaymentMethod,
                    visible: isRadioButtonVisible()
                " />

        <label class="label" data-bind="attr: {'for': getCode()}">
            <!-- Mercado Pago Logo -->
            <img data-bind="attr: {alt: 'Mercado Pago',src:getBankTransferMini()}"
            class="payment-icon mercadopago-payment-icon" />
            <!-- Mercado Pago Logo -->
            <span data-bind="text: getTitle()"></span>
        </label>

        <!-- ko if: (existBanner() == true)-->
        <div class="class-custom-banner-checkout">
            <img data-bind="attr: {alt: 'MercadoPago Banner', src: getBannerUrl()}" class="payment-banner-checkout" />
        </div>
        <!--/ko-->
    </div>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <form class="form"
              id="co-mercadopago-form-bank_transfer"
              action="#"
              method="post"
              data-bind="mageInit: {
                     'transparent':{
                     'context': context(),
                     }, 'validation':[]}">

            <div id="mercadopago-bank-transfer">
                <div class="form-row">
                    <div class="form-col-12">
                        <!-- ko if: (getLengthPaymentMethods() == 0)-->
                        <!-- ko i18n: 'There are no payment methods available, please contact the seller.'-->
                        <!-- /ko -->
                        <!-- /ko -->

                        <!-- ko if: (getLengthPaymentMethods() == 1)-->
                        <input type="hidden"
                               name="mercadopago_custom_bank_transfer[payment_method_id]"
                               data-bind="'attr':{value: getFirstPaymentMethod()}"
                               id="payment_method_id" />
                        <!-- /ko -->

                        <!-- ko if: (getLengthPaymentMethods() > 1) -->
                        <ul id="mercadopago-payment-methods-ticket">
                            <!-- ko foreach: {data: getLengthPaymentMethods(), as: 'payment_method'} -->
                            <li class="mercadopago-ticket-option">
                                <input
                                    type="radio"
                                    class="optionsTicketMp"
                                    name="mercadopago_custom_bank_transfer[payment_method_id]"
                                    data-bind="'attr':{
                                  value: payment_method.id,
                                  'data-validate': JSON.stringify({required:true})
                                  }">

                                <label class="mercadopago-ticket-label">
                                    <img data-bind="'attr':{src: payment_method.secure_thumbnail, alt: payment_method.name}">
                                    <label class="mercadopago-ticket-label" data-bind="text: payment_method.name"></label>
                                </label>
                            </li>
                            <!--/ko-->
                        </ul>
                        <!-- /ko -->
                    </div><!-- end .form-col-12 -->
                </div><!-- end .form-row -->

                <div class="form-row">
                    <div class="form-col-6">
                        <label for="identificationType" class="require">
                            <!-- ko i18n: 'Identification Type'--><!-- /ko -->
                        </label>
                        <select id="identificationType"
                                name="mercadopago_custom_bank_transfer[identification_type]"
                                data-bind="attr: {
                               'data-container': getCode() + '-identification-type',
                               'data-validate': JSON.stringify({required:true})
                               },
                               enable: true,
                               options: getIdentificationTypes(),
                               optionsValue: 'id',
                               optionsText: 'name'">
                        </select>
                    </div> <!-- end .form-col-6 -->

                    <div class="form-col-6">
                        <label for="identificationNumber" class="require">
                            <!-- ko i18n: 'Identification Number'--> <!-- /ko -->
                        </label>
                        <input type="text"
                               id="identificationNumber"
                               name="mercadopago_custom_bank_transfer[identification_number]"
                               class="form-control-mine"
                               data-bind="attr: {
                              title: $t('Identification Number'),
                              'data-validate': JSON.stringify({required:true})
                              }"
                              onkeyup="maskInput(this, mintegerletter);">
                    </div> <!-- end .form-col-6 -->
                </div><!-- end .form-row -->

                <div class="form-row">
                    <div class="form-col-6">
                        <label for="financialInstitutions" class="require">
                            <!-- ko i18n: 'Financial Institutions'--><!-- /ko -->
                        </label>
                        <select id="financialInstitutions"
                                name="mercadopago_custom_bank_transfer[financial_institution]"
                                data-bind="attr: {
                               'data-container': getCode() + '-financial-institution',
                               'data-validate': JSON.stringify({required:true})
                               },
                               enable: true,
                               options: getFinancialInstitutions(),
                               optionsValue: 'id',
                               optionsText: 'description'">
                        </select>
                    </div> <!-- end .form-col-6 -->

                    <div class="form-col-6">
                        <label for="entityType" class="require"> <!-- ko i18n: 'Type of Person'--><!-- /ko --></label>
                        <select id="entityType"
                                name="mercadopago_custom_bank_transfer[entity_type]"
                                data-bind="attr: {
                               'data-container': getCode() + '-entity-type',
                               'data-validate': JSON.stringify({required:true})
                               },
                               enable: true,
                               options: getEntityType(),
                               optionsValue: 'id',
                               optionsText: 'text'">
                        </select>
                    </div> <!-- end .form-col-6 -->
                </div><!-- end .form-row -->
        </form>
    </div><!-- end #mercadopago-bank-transfer -->

    <div afterRender="initializeMethod()"></div>

    <div class="checkout-agreements-block">
        <!-- ko foreach: $parent.getRegion('before-place-order') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </div>

    <div class="actions-toolbar">
        <div class="primary mp-d-flex-baseline">
            <p class="mp-mr-20">
                <!-- ko i18n: 'By continuing, you agree to our '--><!-- /ko -->
                <a data-bind="attr: {href: getFingerPrintLink(), title: $t('link')}" target="_blank">
                    <!-- ko i18n: 'Terms and Conditions.'--><!-- /ko -->
                </a>
            </p>
            <button data-role="review-save"
                    type="submit"
                    data-bind="
                            attr: {title: $t('Place Order')},
                            enable: (getCode() == isChecked()),
                            click: placeOrder,
                            css: {disabled: !isPlaceOrderActionAllowed()}
                        "
                    class="action primary checkout"
                    disabled>
                <span data-bind="i18n: 'Place Order'"></span>
            </button>
        </div>
    </div>
</div>
