<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <mercadopago_basic>
                <active>0</active>
                <model>MercadoPago\Core\Model\Basic\Payment</model>
                <title translate="label">I want to pay with Mercado Pago at no additional cost.</title>
                <order_status>pending</order_status>
                <max_installments>12</max_installments>
                <auto_return>1</auto_return>
                <binary_mode>0</binary_mode>
                <sort_order>-5</sort_order>
                <payment_action>authorize</payment_action>
                <gateway_mode>0</gateway_mode>
            </mercadopago_basic>
            <mercadopago_custom>
                <active>0</active>
                <coupon_mercadopago>0</coupon_mercadopago>
                <useccv>1</useccv>
                <cctypes>AE,VI,MC,DI,JCB</cctypes>
                <ccfields>csc,expdate,acct</ccfields>
                <model>MercadoPago\Core\Model\Custom\Payment</model>
                <title translate="label">Credit and Debit Card - Mercado Pago</title>
                <allowspecific>0</allowspecific>
                <banner_checkout></banner_checkout>
                <sort_order>-4</sort_order>
                <payment_action>authorize</payment_action>
                <binary_mode>0</binary_mode>
                <gateway_mode>0</gateway_mode>
                <wallet_button>0</wallet_button>
            </mercadopago_custom>
            <mercadopago_customticket>
                <active>0</active>
                <model>MercadoPago\Core\Model\CustomTicket\Payment</model>
                <title translate="label">Ticket - Mercado Pago</title>
                <allowspecific>0</allowspecific>
                <sort_order>-2</sort_order>
                <payment_action>authorize</payment_action>
                <coupon_mercadopago>0</coupon_mercadopago>
                <cctypes>AE,VI,MC,DI,JCB</cctypes>
            </mercadopago_customticket>
            <mercadopago_custom_bank_transfer>
                <active>0</active>
                <model>MercadoPago\Core\Model\CustomBankTransfer\Payment</model>
                <title translate="label">Bank Transfer - Mercado Pago</title>
                <allowspecific>0</allowspecific>
                <sort_order>-1</sort_order>
                <payment_action>authorize</payment_action>
                <cctypes>AE,VI,MC,DI,JCB</cctypes>
                <redirect_payer>1</redirect_payer>
            </mercadopago_custom_bank_transfer>
            <mercadopago_custom_pix>
                <active>0</active>
                <model>MercadoPago\Core\Model\CustomPix\Payment</model>
                <title translate="label">Pay with Pix - Mercado Pago</title>
                <allowspecific>0</allowspecific>
                <sort_order>-1</sort_order>
                <payment_action>authorize</payment_action>
                <cctypes>VI,MC</cctypes>
                <expiration_minutes>30</expiration_minutes>
            </mercadopago_custom_pix>
            <mercadopago>
                <order_status_approved>processing</order_status_approved>
                <order_status_in_process>pending</order_status_in_process>
                <order_status_pending>pending</order_status_pending>
                <order_status_rejected>pending</order_status_rejected>
                <order_status_cancelled>pending</order_status_cancelled>
                <order_status_chargeback>pending</order_status_chargeback>
                <order_status_in_mediation>pending</order_status_in_mediation>
                <order_status_refunded>pending</order_status_refunded>
                <order_status_partially_refunded>pending</order_status_partially_refunded>
                <refund_available>0</refund_available>
                <cancel_payment>0</cancel_payment>
                <use_successpage_mp>0</use_successpage_mp>
                <financing_cost>0</financing_cost>
                <consider_discount>0</consider_discount>
                <integrator_id></integrator_id>
                <save_transaction>0</save_transaction>
                <email_order_create>1</email_order_create>
                <email_order_update>pending,approved,in_process,in_mediation,rejected,cancelled,refunded,charged_back
                </email_order_update>
                <logs>1</logs>
                <model>MercadoPago\Core\Model\Core</model>
            </mercadopago>
        </payment>
    </default>
</config>
